{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Start Home Section -->
<div id="home" class="">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
<div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'images/nuno.png' %}" alt="Nuno Logo"></a>
    <button class="navbar-toggler" type="button" name="button" data-toggle='collapse' data-target='#navbarResponsive'>
        <span class="custom-toggler-icon" ><i class="fas fa-bars"></i></span>
    </button>

    <div id='navbarResponsive' class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#clients">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</div>

</nav>
<!-- End Navigation -->
<h1 style="color: white; margin-top: 4rem;" >
    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
</h1>
</div>
<!-- End Home Section -->

<!-- Start Features Section -->
<div id="features" class="offset">

</div>
<!-- End Features Section -->

<!-- Start Portfolio Section -->
<div id="portfolio" class="offset">

</div>
<!-- End Portfolio Section -->

<!-- Start Pricing Section -->
<div id="pricing" class="offset">

</div>
<!-- End Pricing Section -->

<!-- Start Team Section -->
<div id="team" class="offset">

</div>
<!-- End Team Section -->

<!-- Start Skills Section -->
<div id="skills" class="offset">

</div>
<!-- End Skills Section -->

<!-- Start Clients Section -->
<div id="clients" class="offset">

</div>
<!-- End Clients Section -->

<!-- Start Contact Section -->
<div id="contact" class="offset">

</div>
<!-- End Contact Section -->
{% endblock %}
